<div class="col-md-4">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      Asistencia
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="card text-center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="obra">
        <th mat-header-cell *matHeaderCellDef> Obra </th>
        <td mat-cell *matCellDef="let element"> {{element.idobra}} </td>
      </ng-container>
      <ng-container matColumnDef="tipoCalendario">
        <th mat-header-cell *matHeaderCellDef> Tipo Calendario </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoCalendario}} </td>
      </ng-container>

      <ng-container matColumnDef="conseCalendario">
        <th mat-header-cell *matHeaderCellDef> Calendario </th>
        <td mat-cell *matCellDef="let element"> {{element.conseCalendario}} </td>
      </ng-container>

      <ng-container matColumnDef="idEstado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.idEstado}} </td>
      </ng-container>
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
      </ng-container>
      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaFin}} </td>
      </ng-container>
    </table>
    <button type="button" class="btn btn-primary" (click)="terminarCalendario()">Terminar Calendario</button>
  </div>
</div>